services:
  webapp:
    build:
      context: .
      args:
        NEXT_PUBLIC_TENANT_ID: ${NEXT_PUBLIC_TENANT_ID}
        NEXT_PUBLIC_CLIENT_ID: ${NEXT_PUBLIC_CLIENT_ID}
    ports:
      - "80:3000"
    restart: unless-stopped
